{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx", "cn"],
  "tailwindStylesheet": "resources/css/app.css",
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "printWidth": 100,
        "tabWidth": 4
      }
    },
    {
      "files": "**/*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
